# This is a basic workflow to help you get started with Actions

name: Build docker image and publish SDK

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    tags:
      - '*'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - run: |
          git fetch --prune --tags

      - name: Build Docker image
        run: |
          make build
      - name: Export SDK
        run: |
          make run
          make sdk

      - name: Print diagnostic info
        run: |
          ls -l
          ls -l outdir

      - name: Share SDK
        uses: actions/upload-artifact@v1
        with:
          name: SDK
          path: outdir/*.tar.gz
